.product {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 20px;
  max-height: 440px;
  min-width: 100px;
  width: 90%;
  z-index: 1;
  transform: scale(1, 1);
  transition: transform ease 0.3s;
}

.product:hover {
  transform: scale(1.05, 1.05);
}

.product__info {
  min-height: 100px;
  width: 100%;
  margin-bottom: 10px;
  z-index: 2;
}

.product__description {
  font-size: 1.1vw;
  height: 60px;
}

.product__image {
  object-fit: contain;
  max-height: 250px;
  width: 100%;
}

.product__button {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  border-radius: 3px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  border-color: #a88734 #9c7e31 #846a29;
  border: 1px solid;
  color: #111;
  outline: none;
  margin-top: 10px;
  padding: 2px 4px;
  position: relative;
  overflow: hidden;
}
.product__button:active {
  background: linear-gradient(45deg, #f75b7d 30%, #d16932 90%);
  box-shadow: 0 0 5px 4px rgba(255, 105, 135, 0.3);
}

.product__price {
  margin-top: 5px;
}

.product__rating > span {
  margin-right: 3px;
}

@media (max-width: 1075px) {
  .product__description {
    font-size: 1.3vw;
  }
}

@media (max-width: 895px) {
  .product__info {
    font-size: 13px;
  }
}
@media (max-width: 755px) {
  .product__description {
    font-size: 1.4vw;
  }
}
@media (max-width: 670px) {
  .product__info {
    font-size: 15px;
  }
  .product__description {
    font-size: 2.4vw;
  }
}
@media (max-width: 520px) {
  .product {
    box-sizing: border-box;
  }
  .product__image {
    max-height: 240px;
  }
}

@media (max-width: 495px) {
  .product__description {
    font-size: 2.8vw;
  }
}
@media (max-width: 435px) {
  .product__description {
    font-size: 2.9vw;
  }
}
@media (max-width: 375px) {
  .product__description {
    font-size: 3vw;
  }
}
@media (max-width: 340px) {
  .product__description {
    font-size: 3.1vw;
  }
}
