.checkout-product {
  display: flex;
  margin: 20px 0;
}

.checkout-product__info {
  margin-left: 20px;
  font-size: 1.5vw;
}

.checkout-product__info > button {
  background-color: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  outline: none;
}
.checkout-product__info > button:hover {
  background-color: #d8ad42;
}

.checkout-product__image {
  object-fit: contain;
  height: 180px;
  width: 180px;
}

.checkout-product__title {
  // font-size: 17px;
  font-size: 1.6vw;
  font-weight: 800;
}

@media (max-width: 670px) {
  .checkout-product {
    flex-direction: column;
  }
  .checkout-product__image {
    margin-left: 20px;
  }
}
@media (max-width: 530px) {
  .checkout-product__title {
    font-size: 9px;
  }
  .checkout-product__info {
    font-size: 8px;
  }
}
