.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}

.order > h2 {
  font-size: 2.2vw;
}

.order > p {
  font-size: 1.4vw;
}

.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
  font-size: 1.1vw;
}

.order__total {
  font-weight: 500;
  text-align: right;
  font-size: 1.7vw;
}

@media (max-width: 670px) {
  .order__id {
    position: static;
  }
}
@media (max-width: 530px) {
  .order > h2 {
    font-size: 12px;
  }
  .order > p {
    font-size: 10px;
  }
  .order__id {
    font-size: 10px;
  }
  .order__total {
    font-size: 11px;
  }
}
@media (max-width: 500px) {
  .order {
    padding: 15px;
  }
}
